[Unit]
Description=Electrumx
After=network.target

[Service]
EnvironmentFile=/etc/electrumx.conf
ExecStart=/home/ubuntu/source/electrumx-dev/electrumx_server
User=ubuntu
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
